*{box-sizing: border-box;}
body{
    font-family: sans-serif;
    font-size: 16px;
    color: #333333;
}
a, a:link{
    text-decoration: none;
    color: #333333;
}
a:hover{
    color: #666;
}

/** 레이아웃 **/
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 100px;
    background-color: #3cb149;
    padding: 30px 20px 0;
    position: relative;
}
/** 메인 메뉴 **/
nav{
    width: 55%;
    float: right;
}
ul.main-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    margin-top: 20px;
}
ul.main-nav>li{
    width: 25%;
    height: 50px;
    text-align: center;
    transition: all 400ms;
}
ul.main-nav>li:hover{
    background-color: #434748;
}
ul.main-nav>li>a{
    display: block;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.sub-nav{
    background-color: #434748;
    position: absolute;
    display: none;
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    z-index: 100;
}
.sub-nav li{
    width: 100%;
    height: 40px;
}
.sub-nav li a{
    padding: 10px 50px;
    color: #fff;
    font-size: 18px;
}
.sub-nav li a:hover{

    background-color: #3cb149;
}
.sub-background{
    width: 100%;
    left: 0;
    background-color: #434748;
}
.sub-background>li{
    margin-left:30px;
}
.hero{
    height: 300px;
    overflow: hidden;
    position: relative;
}
.heroin{
    width: 3600px;
    position: absolute;
    left: 0;
    top: 0;
}
.heroin img{
    float: left;
}
/** 메인 디자인**/
.main{
    height: 200px;
    display: flex;
}
.main>div{
    width: 33.3333333%;
}
.notice, .gallery{
    position: relative;
}
.notice a>span:first-child{
    display: inline-block;
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice a>span:last-child{
    float: right;
}
.notice h1{
    font-size: 18px;
    text-align: center;
    border: 1px solid #434748;
    border-bottom: none;
    padding: 6px 0;
    width: 100px;
    left: 10px;
    background-color: #fff;
    position: absolute;
}
.notice-ul{
    margin-top: 48px;
    border: 1px solid #434748;
    padding: 10px 10px 8px;
    list-style-position: inside;
}
.notice-ul li{
    padding: 4px 0;
}
.notice-ul li:hover{
    background: #3cb149;
}
.notice-ul li:hover a{
    color: #fff;
}
footer{
    height: 100px;
    background: #1d8844;
    color:#fff;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.notice-popup{
    position: fixed;
    width: 500px;
    height: 300px;
    border: 1px solid #eddddd;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 101;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    display: none;
}
.close{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    padding: 5px 15px;
}
